
.tech {
  margin: 10px
}

.user-skills {
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-skills p {
  font-size: 16px;
  padding: 10px;
}

@media only screen and (min-width:550px) {
  .user-skills {
      flex-wrap: nowrap;
      font-size: 75px
  }
  .tools-icon-group {
    font-size: 60px;
  }
}

.user-skills-details {
  text-align: center;
  margin: 5px auto
}

.tools{
  display: flex;
  position: row;
  flex-direction: column;
  height: 40vh;
  justify-content: flex-end;
  margin-top: 35px;
  /* padding-top: 100%; */

}
.tools-slider{
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

.tools-slider:hover .slider{
  animation-play-state: paused;
  white-space: nowrap;
}

.slider{
  display: inline-block;
  height: 19vh;
  min-height: 264px;
  animation: 35s slide infinite linear;
}
@keyframes slide{
  from{
      transform: translateX(0);
  }
  to{
      transform: translateX(-590%);
  }
}

.tools-wrapper{
  display: flex;
  gap: 40px;
  align-items: center;
  white-space: nowrap;
  height: 164px;
  width: -23px;
}

.tools-icon-groups{
  display: flex;
  gap: 40px;
  align-items: center;
  white-space: nowrap;
  height: 164px;
  width: -23px;
}
.tools-group{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 103px;
  padding: 2px;
  justify-content: space-around;
}
.tools-icon-group{
  display: flex;
  height: 60px;
  width: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  background: rgba(188, 188, 188, 0.5);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 19px );
  -webkit-backdrop-filter: blur( 19px );
  border: 3px solid rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
}
.tools-icon-group:hover{
  transform: scale(1.2);
}
.tools-icon{
  display: flex;
  flex-direction: column;
  width: 35px;
}
.tools-description{
  display: flex;
  text-align: center;
  align-items:13px;
}

/*TABLET VIEW */
@media (min-width:678px){
  .tools{
      height: unset;
      margin-top: 163px;
  }
  .tools-icon-group {
    font-size: 60px;
  }
  .slider{
      height: 36vh;
      min-height: 331px;
      animation: 30s slide infinite linear;
      }
  @keyframes slide{
      from{
          transform: translateX(0);
      }
      to{
          transform: translateX(-518%);
      }
  }
  
.tools-wrapper{
      display: flex;
      height: 45vh;
      gap: 144px;
  }

  .tools-group{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      height: 186px;
      padding: 2px;
      justify-content: space-around;
  }
  .tools-icon-group{
      width: 90px;
      height: 90px;
      min-width: 90px;
      min-height: 90px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .tools-icon{
      width: 53px;
  }
  .tools-description{
      display: flex;
      text-align: center;
      align-items: center;
      font-size: 19px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      display: none;
  }

  .tools-group:hover .tools-description{
      display:inline-block;
  }
}
  
/* DESKTOP VIEW */
@media (min-width:1200px){
  .slider {
    animation: slide 35s  infinite;
    height: 42vh;
    min-height: 237px;
    white-space: nowrap;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-150%);
    }
  }
  .tools-wrapper {
    display: flex;
    height: 34vh;
  }
  .tools-icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
  }
  .tools-icon {
    width: 80%;
    height: auto;
  }
}


@media (max-width: 768px) {
  #skills {
    margin-bottom: 20%;
    /* padding-bottom: 50rem; */
    /* padding-top: 90rem; */
    height: auto;
  }
}

@media (max-width: 768px) {
  .tools-icon {
    height: auto;
    font-size: 100%;
  }
}