@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-project-card: #17176e;
  --color-primary: #096bff;
  --color-primary-projects: rgba(30, 157, 248, 0.4);
  --color-text: #ffffff;
  --color-light: rgba(255, 255, 255, 0.6);

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
  background-image: url(./assets/Space.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
  height: 100vh;
}
section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover{
   color: var(--color-text);
}


.btn-primary{
   background: var(--color-primary);
   color: var(--color-bg);
}

img{
   display: block;
   width: 100%;
   object-fit: cover;
}

/* !!!!!!!!!!!!!!!!!!!!!!! Media Queries !!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!!!!!!!!!!!! Media Query(Tablet) !!!!!!!!!!!!!*/
@media screen and (max-width: 1024px){
   .container {
     width: var(--container-width-md);
   }
 
   section {
     margin-top: 10rem;
   }
 }
 
 /* !!!!!!!!!!!!!!! Media Query(Mobile) !!!!!!!!!!!!!*/
 @media screen and (max-width: 600px){
   .container {
     width: var(--container-width-sm);
   }
 
   section > h2 {
     margin-bottom: 2rem;
   }
 }